<div class="slideshow-popup">
	<div class="slideshow-popup__close" data-page="/experience/"><i class="icon-close"></i></div>
	<div class="slideshow-popup__in" id="slideshow-popup__in">
		<div class="slideshow__side">
			<div class="slideshow__side-in">
				<div class="sub-title">Community Service</div>
				<h1 class="d5">Service experiences enrich perspectives, deliver insight, and develop empathy</h1>
														<div class="slideshow__featured">
						<div style="background-image: url(/utopia-assets/facebook-013.jpg);"></div>
					</div>
							</div>
		</div>
									<div class="slideshow__slide slideshow__slide-1">
					<div class="slideshow__slide-item">
																				<div class="slideshow__slide-image">
								<div class="slideshow__slide-image-in">
									<div class="slideshow__slide-image-outer" style="background: url(/utopia-assets/facebook-016.jpg) no-repeat 50% 50% / cover;">
										<img src="/utopia-assets/facebook-016.jpg" width="525" height="573" alt="UTOPIA school life" >
									</div>
																			<div class="sub-title p2 ia-regular">A community day of service for Meals of Hope.</div>
																	</div>
							</div>
																	</div>
				</div>
							<div class="slideshow__slide slideshow__slide-2">
					<div class="slideshow__slide-item">
																				<div class="slideshow__slide-image">
								<div class="slideshow__slide-image-in">
									<div class="slideshow__slide-image-outer" style="background: url(/utopia-assets/facebook-015.jpg) no-repeat 50% 50% / cover;">
										<img src="/utopia-assets/facebook-015.jpg" width="525" height="331" alt="UTOPIA school life" >
									</div>
																	</div>
							</div>
																			<div class="h2 ia-light ia-margin-3">From day off to day on. On Martin Luther King Jr. Day, UTOPIA students came together for a new service initiative and packaged 32,000 meals.</div>
											</div>
				</div>
							<div class="slideshow__slide slideshow__slide-3">
					<div class="slideshow__slide-item">
																				<div class="slideshow__slide-image">
								<div class="slideshow__slide-image-in">
									<div class="slideshow__slide-image-outer" style="background: url(/utopia-assets/facebook-013.jpg) no-repeat 50% 50% / cover;">
										<img src="/utopia-assets/facebook-013.jpg" width="525" height="701" alt="UTOPIA school life" >
									</div>
																			<div class="sub-title p2 ia-regular">Our annual all-school community service day</div>
																	</div>
							</div>
																	</div>
				</div>
							<div class="slideshow__slide slideshow__slide-4">
					<div class="slideshow__slide-item">
																				<div class="slideshow__slide-image">
								<div class="slideshow__slide-image-in">
									<div class="slideshow__slide-image-outer" style="background: url(/utopia-assets/facebook-014.jpg) no-repeat 50% 50% / cover;">
										<img src="/utopia-assets/facebook-014.jpg" width="525" height="374" alt="UTOPIA school life" >
									</div>
																	</div>
							</div>
																			<div class="h2 ia-light ia-margin-3">Each year, UTOPIA students dedicate 5,000 hours of service to our community, including fall clean up, Veterans Home visits, and more.</div>
											</div>
				</div>
						</div>
</div>