<div class="slideshow-popup">
	<div class="slideshow-popup__close" data-page="/experience/"><i class="icon-close"></i></div>
	<div class="slideshow-popup__in" id="slideshow-popup__in">
		<div class="slideshow__side">
			<div class="slideshow__side-in">
				<div class="sub-title">Weekends are for Play</div>
				<h1 class="d5">What happens outside of the classroom makes all the difference.</h1>
														<div class="slideshow__featured">
						<div style="background-image: url(/utopia-assets/facebook-028.jpg);"></div>
					</div>
							</div>
		</div>
									<div class="slideshow__slide slideshow__slide-1">
					<div class="slideshow__slide-item">
																				<div class="slideshow__slide-image">
								<div class="slideshow__slide-image-in">
									<div class="slideshow__slide-image-outer" style="background: url(/utopia-assets/facebook-020.jpg) no-repeat 50% 50% / cover;">
										<img src="/utopia-assets/facebook-020.jpg" width="525" height="376" alt="UTOPIA school life" >
									</div>
																			<div class="sub-title p2 ia-regular">A student-led baking event held at the Head of School House.</div>
																	</div>
							</div>
																	</div>
				</div>
							<div class="slideshow__slide slideshow__slide-2">
					<div class="slideshow__slide-item">
																				<div class="slideshow__slide-image">
								<div class="slideshow__slide-image-in">
									<div class="slideshow__slide-image-outer" style="background: url(/utopia-assets/instagram-048.jpg) no-repeat 50% 50% / cover;">
										<img src="/utopia-assets/instagram-048.jpg" width="525" height="350" alt="UTOPIA school life" >
									</div>
																	</div>
							</div>
																			<div class="h2 ia-light ia-margin-3">Fun. Friends. Food. These are just a few staples of weekends at UTOPIA, where the residential experience truly comes to life.</div>
											</div>
				</div>
							<div class="slideshow__slide slideshow__slide-3">
					<div class="slideshow__slide-item">
																				<div class="slideshow__slide-image">
								<div class="slideshow__slide-image-in">
									<div class="slideshow__slide-image-outer" style="background: url(/utopia-assets/facebook-016.jpg) no-repeat 50% 50% / cover;">
										<img src="/utopia-assets/facebook-016.jpg" width="525" height="331" alt="UTOPIA school life" >
									</div>
																			<div class="sub-title p2 ia-regular">Theatrical productions in the fall and spring are a UTOPIA favorite.</div>
																	</div>
							</div>
																	</div>
				</div>
							<div class="slideshow__slide slideshow__slide-4">
					<div class="slideshow__slide-item">
																				<div class="slideshow__slide-image">
								<div class="slideshow__slide-image-in">
									<div class="slideshow__slide-image-outer" style="background: url(/utopia-assets/instagram-045.jpg) no-repeat 50% 50% / cover;">
										<img src="/utopia-assets/instagram-045.jpg" width="525" height="350" alt="UTOPIA school life" >
									</div>
																			<div class="sub-title p2 ia-regular"> </div>
																	</div>
							</div>
																			<div class="h2 ia-light ia-margin-3">In the heat of summer or during a blizzard, being outside is a staple of the UTOPIA experience. New Hampshire provides the best of both worlds!</div>
											</div>
				</div>
						</div>
</div>